.container.user-page
  %header.user-nav
    .media
      .media-left
        %a{href: "#"}
          = image_tag(@user.avatar, alt: " avatar", class: "media-object", style: "width: 64px; height: 64px;")
      .media-body
        %h4#top-aligned-media.media-heading
          = @user.name
          %span.label.label-default.project-number
            = @proto_count
            %i Projects
        .proto-user
          %span.degree #{ @user.member }
        .row
          .col-md-6
            %h4 Profile
            %p
            = @user.profile
          .col-md-6
            %h4 Works
            %p
            = @user.works
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  %ul.pagination
    = paginate(@prototypes)
